:root {
  --accent-color: #2b2b2b;
  --active-color: #297ec1;
}
body {
  font-family: "Neutra Text";
  color: var(--accent-color);
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--accent-color);
  font-weight: bold;
  letter-spacing: 2px;
  position: relative;
}
h2 {
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  position: relative; 
  background-image: url(../img/wave.png);
  background-repeat: repeat-x;
  background-clip: text;
  -webkit-background-clip: text;
  animation: animate 15s linear infinite;
}
@keyframes animate{
  0%{
    background-position: left 0px top 80px;
  }
  40%{
    background-position: left 800px top -50px;
  }
  80%{
    background-position: left 1800px top -50px;
  }
  100%{
    background-position: left 2400px top 80px;
  }
}
h2:before {
  /* content: " ";
  height: 6px;
  width: 100%;
  background: rgba(41, 126, 193, 0.5);
  position: absolute;
  bottom: 15px;
  left: 0; */
}
/* .anim-underline:before {
  content: '';
  position: absolute;
  background: #0f0;
  width: 100%;
  bottom: 0;
  animation: wipe 5s cubic-bezier(.2,.6,.8,.4) forwards;
} */

@keyframes wipe {
  0% {
    height: 0;
  }
  100% {
    height: 73%;
  }
}
/* .anim-underline:before{
  content: " ";
  position: absolute; 
  top:0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  color:beige; 
  overflow: hidden; 
  animation: animate 6s infinite;
}
@keyframes animate { 
  0% { 
  height: 20%;
  } 
  25% { 
  height: 40%; 
  } 
  50% { 
  height: 60%; 
  } 
  75% { 
  height: 80%;
  } 
  100% { 
  height: 100%; 
  } 
}  */
a {
  color: var(--active-color);
}
a:hover {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.btn-custom {
  text-transform: uppercase;
  border: 1px solid var(--active-color);
  padding: 10px 15px;
  font-size: 0.9rem;
  color: #fff;
  background: var(--active-color);
  margin: 10px 0 0;
  display: inline-block;
  font-size: 0.8rem;
  letter-spacing: 2px;
  transition: all 0.3s ease-in-out;
}
.btn-custom:hover {
  text-decoration: none;
  background: transparent;
  color: var(--active-color);
}
.custom-heading {
  font-family: "Neutra Text";
  text-transform: uppercase;
  letter-spacing: 2px;
}
.dropdown-toggle::after {
  vertical-align: middle;
}
textarea {
  resize: none;
}
/* /common */
/* navbar */
.navbar-brand {
  font-size: 1.5rem;
}
.navbar {
  background-color: #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}
.navbar-brand {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -115px !important; /* 50% of your logo width */
  display: block;
}
.navbar-brand img {
  width: 250px;
}
.navbar-light .navbar-nav .nav-link {
  color: var(--accent-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  font-size: 0.9rem;
  border-bottom: 2px solid transparent;
  padding-bottom: 0.2rem;
}
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
  color: var(--active-color);
  border-bottom: 2px solid var(--active-color);
}
.list-inline-item a {
  color: var(--active-color);
  transition: all 0.3s ease-in-out;
}
.list-inline-item a:hover {
  color: var(--accent-color);
}
.nav-item {
  padding: 0 40px;
}
/* /navbar */
/* main body */
/* cocktails */
.elsativo-recipe {
  max-height: 500px;
}
.recipe-content {
  background: rgba(41, 126, 193, 0.25);
  padding: 30px 45px;
}
/* /cocktails */
.scroll-down {
  position: absolute;
  right: 20px;
  top: 60%;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid #fff;
  border-right: 2px solid #fff;
  z-index: 9;
  -webkit-transform: translate(-50%, 0%) rotate(45deg);
  -moz-transform: translate(-50%, 0%) rotate(45deg);
  transform: translate(-50%, 0%) rotate(45deg);
  -webkit-animation: fade_move_down 4s ease-in-out infinite;
  -moz-animation: fade_move_down 4s ease-in-out infinite;
  animation: fade_move_down 4s ease-in-out infinite;
  cursor: pointer;
}

/*animated scroll arrow animation*/
@-webkit-keyframes fade_move_down {
  0% {
    -webkit-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@-moz-keyframes fade_move_down {
  0% {
    -moz-transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
@keyframes fade_move_down {
  0% {
    transform: translate(0, -10px) rotate(45deg);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 10px) rotate(45deg);
    opacity: 0;
  }
}
.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}
.parallax-img {
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}
#parallax3 .parallax-img {
  background-position: center top;
}
.overlay-text {
  position: relative;
  top: 200px;
}
.banner-text {
  text-align: center;
  padding: 15px;
  text-transform: uppercase;
  /* background: rgba(255, 255, 255, 0.8); */
  font-size: 15px;
  letter-spacing: 1px;
}
.box1 {
  background: #fff;
  position: relative;
}

.bottle {
  height: 500px;
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
.crt-widget.crt-widget-branded .crt-logo {
  display: none !important;
}
.crt-no-touch .crt-grid-post .crt-post-c {
  border: 1px solid #eee;
}
ul.social-icons {
  position: fixed;
  right: 0;
  z-index: 1;
  background: transparent;
  top: 100px;
}
.social-icons .list-group-item {
  background: transparent;
  border: none;
  display: inline-block;
  /* color: #fff; */
  padding: 5px 10px;
}
.social-icons .list-group-item a {
  color: #fff;
}

/* @keyframes line{
  0%{
    height: 0;
  }
  100%{
    height: 50%;
  }
} */
/* /main body */
/* footer */
footer {
  background: #d5d2cd;
  color: var(--accent-color);
  background-image: url(../img/agave.png);
  background-repeat: no-repeat;
  background-position: 108% bottom;
  background-size: 15%;
}
footer a,
footer .list-inline-item a {
  color: var(--accent-color);
  text-transform: uppercase;
  font-size: 0.7rem;
}
.copyright {
  border-top: 1px solid #afafaf;
  color: #807e7e;
}
.nav-item-footer {
  list-style-type: none;
  padding: 0.75rem 1.25rem;
  position: relative;
}
.nav-item-footer:after {
  content: "|";
  position: absolute;
  right: 0;
}
.nav-item-footer:last-child:after {
  content: "";
}
footer .list-group-horizontal {
  flex-flow: wrap;
}
footer .list-inline-item:not(:last-child) {
  margin-right: 0;
}
.list-top a {
  letter-spacing: 1px;
}
.logo-footer {
  width: 250px;
}
/* /footer */
/* age modal window */

.modal-custom .modal-body {
  position: relative;
}
.modal-custom .close {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 1;
}
.modal-custom .modal-logo {
  height: 60px;
}
.modal-custom.modal-backdrop {
  display: none;
}
.modal-custom .modal-dialog {
  max-width: 900px;
}
.modal-content {
  border: none;
}
.modal-custom-content {
  font-size: 12px;
}
.modal-header img {
  height: 80px;
  margin: 0 auto;
}
.modal-body {
  text-align: center;
}
.modal-body .cont-medal img {
  height: 200px;
}
.modal-body .cont-medal img:hover {
  cursor: url("../img/age-verification.png"), auto !important;
  cursor: pointer;
}
.age-validation {
  transition: all 0.3s ease-in-out;
  visibility: hidden;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 111;
  background: #fff;
}
.spin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  position: relative;
  width: 200px;
  animation: loader 2s infinite ease;
}
@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.cont-medal:hover .age-validation {
  visibility: visible;
}
/* /age modal window */
/* our story */
.banner-inner-pages {
  background-size: cover;
  height: 550px;
  position: relative;
}
.banner-inner-pages h1,
.banner-inner-pages p {
  color: #fafafa;
}
.banner-our-story {
  background: #98e2fe;
}
.banner-our-family {
  background: url("../img/banner-our-family.jpg") center center / cover
    no-repeat;
}
.our-story-sect {
  overflow: hidden;
  transition: all 1.3s ease-in;
}
.our-story-sect:hover {
  text-decoration: none;
}
.our-story-sect:hover img {
  transform: scale3d(1.03, 1.03, 1.03);
}
.our-story-sect:hover .our-story-content,
.our-story-sect:hover .overlay-card-block {
  opacity: 0;
}
.our-story-sect img {
  transition: all 0.3s ease-in-out;
  height: 350px;
}
.our-story-content {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.overlay-card-block {
  background: rgba(14, 43, 66, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
}
.our-story-content h4,
.our-story-content h6 {
  color: #fafafa;
  font-family: "Neutra Text";
}
/* /our story */
/* our-journey */
.banner-our-journey {
  background: url("../img/banner-journey.jpg") center center/ cover no-repeat;
}
/* /our-journey */
/* our process */
.banner-our-process {
  background: url("../img/banner-process.jpg") center center/ cover no-repeat;
}

/* /our process */
/* libations */
.banner-libations {
  background: #98e2fe;
}
.btn-recipe {
  position: absolute;
  bottom: 10px;
  right: 0;
  margin: 0 auto;
  display: inline-block;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 50%;
  padding: 0;
}
.custom-columns {
  flex: 33.33%;
  max-width: 33.33%;
  /* max-height: 330px; */
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  cursor: pointer;
}
.container-recipe {
  position: relative;
  max-height: 520px;
  overflow: hidden;
}
.container-recipe img {
  transition: all 1s ease-in-out;
}
.container-recipe:hover img {
  transform: scale(1.03);
}
.container-recipe:hover .drink-recipe {
  opacity: 1;
}
.drink-recipe {
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.8);
  padding: 15px;
  transition: all 0.3s ease;
}
/* /libations */
/* artist spotlight */
.banner-spotlight {
  background: url("../img/banner-spotlight.jpg") left bottom/ cover no-repeat;
  height: 650px;
  overflow: hidden;
}
.banner-spotlight h4,
.banner-spotlight p {
  color: #fafafa;
}
/* /artist spotlight */
/* contact us */
.img-contact {
  max-height: 600px;
}
#contactUs {
  background: ghostwhite;
}
/* /contact us */
/* our charity */
.ocean-conservation-content h4 {
  letter-spacing: 2px;
  font-weight: bold;
}
.ocean-conservation-content {
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  text-align: center;
}
.img-bottle {
  height: 100px;
}
.animation-dolphin {
  background: url(../img/ocean-conservation.gif) left bottom/ 100% no-repeat;
  display: inline-block;
  padding: 30px 0 0;
}
.icon-charity {
  max-height: 80px;
}
/* /our-charity*/
/* purchase */
.sect-left {
  background: #98e2fe;
}
.bottle-purchase {
  height: 500px;
}
.text-divider {
  margin: 2em 0;
  line-height: 0;
  text-align: center;
}
.text-divider span {
  background-color: #fff;
  padding: 1em;
}
.text-divider:before {
  content: " ";
  display: block;
  border-bottom: 1px solid #eee;
}

/* /purchase */
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
  .custom-columns {
    flex: 33.33%;
    max-width: 33.33%;
  }
  .bottle-purchase {
    height: auto;
  }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 30%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
@media only screen and (max-width: 1024px) {
  h2 {
    letter-spacing: 0;
  }
  .nav-item {
    padding: 0 10px;
  }
  .parallaxParent > * {
    top: -76%;
  }
  .btn-custom {
    padding: 10px;
    letter-spacing: 1px;
  }
  .custom-heading {
    letter-spacing: 0px;
    text-transform: capitalize;
  }
}

@media (max-width: 767px) {
  .section-snippet {
    text-align: center;
  }
  .parallax-img {
    background-size: 100%;
    background-position: center center;
  }
  .parallaxParent {
    height: 350px;
  }
  .parallaxParent > * {
    height: 100%;
    top: -38%;
  }
  .scroll-down {
    top: 82%;
  }
  .nav-item {
    padding: 0;
  }
  .elsativo-recipe {
    max-height: none;
  }
  .btn-custom {
    width: 100%;
  }
  .nav-item-footer {
    padding: 0.75rem;
  }
  .crt-widget-grid .crt-load-more-container {
    display: block !important;
  }
  .btn-recipe {
    display: none;
  }
  .banner-contact .col-md-6 {
    text-align: center;
  }
  .banner-text {
    padding: 0;
  }
  .container-recipe {
    max-height: none;
  }
  .drink-recipe {
    line-height: 1;
    font-size: .9rem;
  }
  .drink-recipe h4{
    margin: 0 !important;
  }
  .drink-recipe ol{
    padding-left: 15px;
  }
  .medals{
    width: 250px;
  }
}

@media only screen and (max-width: 600px) {
  .navbar-brand {
    position: static;
    margin: 0 !important;
  }
  .navbar-brand img {
    width: 130px;
  }
  .modal-custom .modal-header img {
    width: 130px;
  }
  .modal-custom .modal-body img {
    width: 170px;
  }
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
/*
